<!DOCTYPE html>
<html>
  <head>
    <title>Hangtime</title>
    {{#scripts}}
      <script src="{{src}}" type="text/javascript"></script>
    {{/scripts}}
    {{#styles}}
      <link rel="stylesheet" href="{{href}}" />
    {{/styles}}
    <script type="text/javascript">goog.require('hangtime.client.core');goog.require('goog.net.WebSocket');</script>
    <script>
      $(document).ready(hangtime.client.core.initialize);
    </script>
  </head>
  <body>
  </body>
</html>

