<!DOCTYPE html>
<html>
  <head>
    <title>Hangtime</title>
    {{#scripts}}
      <script src="{{src}}" type="text/javascript"></script>
    {{/scripts}}
    {{#styles}}
      <link rel="stylesheet" href="{{href}}" />
    {{/styles}}
    <script>$(document).ready(hangtime.client.core.main);</script>
  </head>
  <body>
  </body>
</html>

